<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
 
    <context:annotation-config />
   
    <import resource = "classpath*:/testing/applicationContext-testing.xml"></import>
    
    <bean id = "customerService" class = "cz.muni.fi.pa165.bookingmanager.api.service.impl.CustomerServiceImpl"/>
    <bean id = "bookingService" class = "cz.muni.fi.pa165.bookingmanager.api.service.impl.BookingServiceImpl"/>
    <bean id = "hotelService" class = "cz.muni.fi.pa165.bookingmanager.api.service.impl.HotelServiceImpl"/>
    <bean id = "roomService" class = "cz.muni.fi.pa165.bookingmanager.api.service.impl.RoomServiceImpl"/>
    <bean id = "bookingManagerService" class = "cz.muni.fi.pa165.bookingmanager.api.service.impl.BookingManagerServiceImpl"/>

    <bean id = "customerConverter" class = "cz.muni.fi.pa165.bookingmanager.api.converter.CustomerDTOConverter" />
    <bean id = "hotelConverter" class = "cz.muni.fi.pa165.bookingmanager.api.converter.HotelDTOConverter" />
    <bean id = "bookingConverter" class = "cz.muni.fi.pa165.bookingmanager.api.converter.BookingDTOConverter" />
    <bean id = "roomConverter" class = "cz.muni.fi.pa165.bookingmanager.api.converter.RoomDTOConverter" />
    
    <bean id = "mapper" class = "org.dozer.DozerBeanMapper"/>
    
</beans>